@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto' sans-serif;
    transition: background 0.3 eaes;
}

.change-btn {
    background-color: #000;
    border: 0;
    color: #fff;
    padding: 20px 50px;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
}

.change-btn:active {
    transform: scale(0.98);
}

.change-btn:focus {
    background-color: #222;
    outline: none;
}

.color-text {
    font-size: 14px;
}